.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.main,.end{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border-radius: 10px;
  background-color: darkcyan;
}
.main button{
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.main button:hover{
  background-color: mediumslateblue;
}
.quiz{
  padding: 20px;
  color: aliceblue;
  border-radius: 10px;
  background-color: darkcyan;
  height: 500px;
  width: 500px;
}
.options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.options button{
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.quiz button{
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.quiz button:hover{
  background-color: mediumslateblue;
}
.options button:hover{
  background-color: rgb(10, 59, 92);
  color: rgb(243, 239, 239);
  transition: 0.3s ease-in-out;
}
.options button:active{
  background-color: rgb(10, 59, 92);
}
.options button:focus{
  background-color: rgb(10, 59, 92);
}
.end button{
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
